<!DOCTYPE html>
<html lang="en">

<head>
	<title>WordCloud+</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>

<body>
	<div>
		<h1>WordCloud+</h1>
		<br><br>
			<form action="/" method="POST">
				Website URL: <input type="text" name="addresses" id="address1"><br>
				Website URL: <input type="text" name="addresses" id="address2"><br>
			<input type="submit" value="Submit">
			</form> 
			<br><br>
			<form action="/" method="POST" enctype='multipart/form-data'>
				Document Upload: <input type="file" name="doc" id="doc"><br>
				<input type="submit" value="Submit">
			</form>
		
		{% for x, y in zipped_counter %}
		<p>' {{x}} ' = {{y}}</p>
		{% endfor %}
	</div>
</body>


</html>
