<!DOCTYPE html>
<html lang="en">

<head>
	<title>WordCloud+</title>
	<meta charset="utf-8" ></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0"></meta>
</head>

<body>
	{% load static %}
	<div>
		<h1>WordCloud+</h1>
		<img src="{% static 'images/wordcloudpluslogo.png' %}" alt="Lovingly crafted by George, Sam, Matt, and Dan" style="width:480px;height:360px;"></img>
		
		<form action="/" method="POST">
			Website URL: <input type="text" name="addresses" id="address1"></input>
			<br/>
			Website URL: <input type="text" name="addresses" id="address2"></input>
			<br/>
			<input type="submit" value="Submit"></input>
		</form> 
		
		<form action="/" method="POST" enctype='multipart/form-data'>
			Document Upload: <input type="file" name="doc" id="doc"></input>
			<br/>
			<input type="hidden" value="file_upload" name="file_upload"></input>
			<input type="submit" value="Submit"></input>
		</form>
		
		<p id="feedback1"></p>
		<input type="button" id="create" value="Create Wordcloud" onclick="create();" style="visibility:hidden"></input>
		<p id="feedback2"></p>
		
	</div>
	
	<script src="{% static 'js/d3.v3.min.js' %}"></script>
	<script src="{% static 'js/d3.layout.cloud.js' %}"></script>
	<script src="{% static 'js/d3.sample.js' %}"></script>
	
	<script>
		function feedback1(){
			document.getElementById("feedback1").innerHTML = "Got it! Please click on 'Create Wordcloud' and wait a few moments.";
			document.getElementById("create").style.visibility = "visible";
		}
	
		var myWordCloud = wordCloud('body');
	
	//Create a new instance of the word cloud visualisation.
	//Each derived from variable inside the double-brackets, filtered, and parsed to JSON
	
		var site_content = "{{site_content_json}}";
		var words_string = site_content.replace(/&quot;/g,'"').replace(/\[/g, "").replace(/\]/g, "");

		var site1_percentage = "{{site1_percentage_json}}";
		site1_percentage = site1_percentage.replace(/&quot;/g,'"').replace(/\[/g, "").replace(/\]/g, "");
		site1_percentage = JSON.parse(site1_percentage);

		var site2_percentage = "{{site2_percentage_json}}";
		site2_percentage = site2_percentage.replace(/&quot;/g,'"').replace(/\[/g, "").replace(/\]/g, "");
		site2_percentage = JSON.parse(site2_percentage);
		
		if (words_string != ""){ feedback1(); }
		
		var words_array = words_string.split(", ");
		var obj = { };

		for (var i = 0, j = words_array.length; i < j; i++) {
			obj[words_array[i]] = (obj[words_array[i]] || 0) + 1;
		}

		var unique_words_array = Array.from(new Set(words_array));
		
		var see = unique_words_array.join();
		
		for (var i = unique_words_array.length - 1; i >= 0; --i) {
			var importance = obj[unique_words_array[i]] / unique_words_array.length;
			if (importance < .02) { 
			//if (obj[unique_words_array[i]] < 5){
				obj[unique_words_array[i]] = 0;
				unique_words_array.splice(i, 1);
			}else if (i >= 1){
				while ((obj[unique_words_array[i-1]] - obj[unique_words_array[i]]) > 35){
					obj[unique_words_array[i-1]] = obj[unique_words_array[i-1]]-5;
				}
			}
		}
		
		var words = unique_words_array.map(function (d) { return { text: d, size: obj[d] }; });
		if (words_string != ""){ feedback1(); }
	
		function create(){
			//document.getElementById("feedback2").innerHTML = "Working...";
			showNewWords(myWordCloud, words, site1_percentage, site2_percentage);
		}
		
	</script>

</html>

