<!DOCTYPE html>
<html lang="en">

<head>
	<title>WordCloud+</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>

<body>
	{% load static %}
	<div>
		<h1>WordCloud+</h1>
		<img src="{% static "images/wordcloudpluslogo.png" %}" alt="The Real Deal" style="width:480px;height:360px;" />
		<br/><br/>
		<form action="/" method="POST">
			Website URL: <input type="text" name="address" id="address"><br>
		<input type="submit" value="Submit">
		</form> 
		
		{% for x, y in zipped_counter %}
		<p title="Data scraped from the URL given.">'{{x}}' = {{y}} </p>
		{% endfor %}
	</div>
</body>

</html>